<?xml version="1.0" ?>
<robot name="mmtbot" xmlns:xacro="http://ros.org/wiki/xacro">
    <!--  Miguel Riem Oliveira-->
    <!--  February 2021-->

    <!--Args are local, properties are global, so we copy the values of the arguments to the properties-->

    <!--Properties are global so they can be viewed from inside the included xacros-->
    <!--  args are used with $(arg arg_name), properties are used as ${property_name}-->
    <xacro:property name="table_height" value="0.795"/>
    <xacro:property name="table_width" value=".9"/>
    <xacro:property name="table_lenght" value="0.9"/>
    <xacro:property name="table_tabletop_thickness" value="0.015"/>
    <xacro:property name="table_leg_radius" value="0.02"/>
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <!-- Include other files-->
    <xacro:include filename="$(find mmtbot_description)/urdf/properties.xacro"/>
    <xacro:include filename="$(find mmtbot_description)/urdf/table.macro.xacro"/>
    <xacro:include filename="$(find mmtbot_description)/urdf/tripod.macro.xacro"/>
    <xacro:include filename="$(find ur_e_description)/urdf/astra.urdf.xacro" />
    <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />
    <xacro:include filename="$(find ur_e_description)/urdf/ur10e.urdf.xacro" />
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>

    <!-- Links and joints-->
    <link name="world"/>

    <!-- Place table 1 in the scene-->
    <xacro:table_macro name="table" parent="world" width="${table_width}"
                       lenght="${table_lenght}" height="${table_height}"
                       tabletop_thickness="${table_tabletop_thickness}" leg_radius="${table_leg_radius}">
        <origin xyz="-1 0 0" rpy="0 0 ${M_PI/2}" />
    </xacro:table_macro>

    <!--  Manipulator-->
    <xacro:ur10e_robot prefix="" joint_limited="false"/>

    <!--  Place robot on top of the table1-->
    <joint name="tabletop_table_to_ur10e" type="fixed">
        <parent link="tabletop_table" />
        <child link = "base_link"/>
        <origin xyz="0.0 0.0 0.001" rpy="0.0 0.0 0.0" />
    </joint>

    <xacro:sensor_astra prefix="hand_camera" parent="ee_link">
        <origin xyz="-0.02 0.05 0.07" rpy="0 0.0 0" />
    </xacro:sensor_astra>

    <!-- Place tripod in the scene-->
    <xacro:tripod_macro name="tripod" parent="world">
        <origin xyz="1 0 0" rpy="0 0 ${2/3*M_PI}" />
    </xacro:tripod_macro>

    <!-- Put 3d lidar in the scene-->
    <xacro:VLP-16 name="3dlidar" parent="tripod_left_support" >
        <origin xyz="0 0 0.001" rpy="0 0 0" />
    </xacro:VLP-16>

    <xacro:sensor_astra prefix="world_camera" parent="tripod_right_support">
        <origin xyz="0.02 0.07 0.015" rpy="0 0.0 0" />
    </xacro:sensor_astra>

</robot>